main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
header{
    margin: auto;
    flex-basis: 100%;
    flex-wrap: wrap;
}
header h1{
    margin: auto;
    width: max-content;
    font-size: 2,5rem;
    padding:20px 10px;
    
}
header ul {
    display: flex;
    padding: 20px;
    list-style-type: none;
    justify-content: space-between;
}
section>h2{

    font-size: 2rem;
    flex-basis: 100%;
}
aside{
    flex: 0 0 20%;
    margin: 2em 0 0 0 ;
    height: max-content;

}
aside>h2{
    width: max-content;
}
main>section{
    display: flex;
    flex: 1 0 70%;
    flex-wrap: wrap;
    
    
}

section>section{
    flex:0 0 45%;
    margin: 10px;
    width:35vw;
    padding: 10px;
}

section>p{
    width: 30vw;
}
aside img{
    width :20em;
}
aside p {
    width: 20em;
}
footer{
    flex-basis: 100%;
}
footer img{
    width: 1em;
}
footer p {
    padding: 1em;
    margin:0;
}