/* le menu de navigation */

header{
    margin: auto;
}
header h1{
    margin: auto;
    width: max-content;
    padding:20px 10px;
    
}

header ul {
    padding: 20px;
    list-style-type: none;
    display: flex;
}
.Livre{
    display: block;
    margin: 0px auto;

}    
.Liste{
    display: flex;
}
article{
    margin:1em 8em;
    width: max-content;

}
article p{
    font-size: 0.8em;

}
article>img{
    display: block;
    width: 9em;
    margin: 0 auto;

}
article h2{
    margin: auto;
    padding: 16px;
    width:max-content;
}
footer>p>img{
    width: 1em;
}
footer p {
    padding: 1em;
    margin:0;
}