/* Règles générales */

header{
    background-color: rgb(190, 190, 190);
}
header ul{
    justify-content: space-between;
}
.Livre{
align-items: center;
}
.Liste{
    justify-content: center;
}
h1,h2,h3{
    color: rgb(48, 48, 172);
}
footer{
    background-color: rgb(190, 190, 190);
}
#Recette1,#Recette2,#Recette3,#Recette4{
    background-color: #add8e6;
}